<!-- blog/templates/blog/post_list.html -->
{% extends 'blog/base.html' %}
	{% block content %}
		{% for post in posts %}
			<article class="margin">
				<h2 ><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
				<p >{{ post.text|linebreaksbr }}</p>
				<p >published: {{ post.published_date }}</p>
			</article>
		{% endfor %}
		{% if user.is_authenticated %}
			<a href="{% url 'post_new' %}">Click here to add a post</a>
		{% endif %}


	{% endblock %}


<!-- {% load static %}

<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
		<title>Django Blog</title>
	</head>
	<body>
		<div class="margin">
			<h1><a href="/">Django Girls Blog</a></h1>
		</div>

		{% for post in posts %}
			<article>
				<h2 class="margin"><a href="">{{ post.title }}</a></h2>
				<p class="margin">{{ post.text|linebreaksbr }}</p>
				<p class="margin">published: {{ post.published_date }}</p>

			</article>
		{% endfor %}

	</body>
</html> -->
